.u-padding--section {
  padding: $padding-media-sm-vertical $padding-media-sm-horizontal;

  @include respond(media-md) {
    padding: $padding-media-md-vertical $padding-media-md-horizontal;
  }

  @include respond(media-lg) {
    padding: $padding-media-lg-vertical $padding-media-lg-horizontal;
  }

  @include respond(media-xl) {
    padding: $padding-media-xl-vertical $padding-media-xl-horizontal;
  }
}

.u-hidden {
  display: none;
}

.u-disable-scroll {
  overflow-y: hidden;

  height: 100%;
}
