/* TODO
Mobile nav
Flexible padding? (so logo and links go closer to edge on smaller windows)
*/

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6.5%; //10rem;
  z-index: 10;

  .logo-svg {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.navigation--transparent {
  ul {
    li {
      a {
        color: $color-white;
      }
    }
  }

  .logo-svg {
    filter: brightness(1000);
  }
}

.navigation--solid {
  background-color: $color-white;

  ul {
    li {
      a {
        color: $color-anthrazit;
      }
    }
  }

  .nav__logo {
    filter: brightness(0);
  }

  .burger-menu-svg {
    filter: brightness(0);
  }
}

.menu-button {
  background-color: transparent;
  border: none;
}

.mobile-menu-button {
  width: 3rem;

  @media (min-width: 601px) {
    display: none;
  }
}

.nav__container {
  display: none;
  @media (min-width: 601px) {
    display: initial;
  }
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;

  .menu-item {
    &:not(:last-child) {
      margin-right: 6.6rem;
    }

    a {
      text-decoration: none;
    }
  }

  @keyframes slideFromRightSide {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.mobile-menu-open {
  .nav__container {
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $color-black;

    animation-name: slideFromRightSide;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
  }

  .nav__list {
    row-gap: 40px;
    display: flex;
    flex-direction: column;

    .menu-link {
      @include headingGeneralStyle;
      font-size: $h3-mobile-font-size;
      color: $color-white;
    }
  }

  .close-menu-button {
    position: fixed;
    top: 2rem;
    right: $padding-mobile-horizontal;
    z-index: 100;
  }
}
