.cafe {
  .gallery {
    display: flex;
    justify-content: center;

    padding-top: 0;
    width: 100%;

    .grid {
      display: inline-grid;

      &__img {
        width: 100%;
        display: block;
      }

      // TODO name columns.
      grid-template-columns: repeat(2, 1fr);

      // TODO Name rows or ideally find a better solution.
      gap: 0rem;

      &__item {
        &-danish {
          grid-row: 1 / span 1;
        }

        &-latte-art-2 {
          grid-column: 2 / span 1;
          grid-row: 1 / span 2;
        }

        &-coffee-machine {
          grid-row: 2 / span 2;
        }

        &-breakfast {
          grid-column: 2 / span 1;
          grid-row: 3 / span 3;
        }

        &-latte-art {
          grid-row: 4 / span 2;
        }

        &-coffee-list {
          grid-column: 2 / span 1;
          grid-row: 5 / span 2;
        }

        &-sign {
          grid-row: 6 / span 2;
        }

        &-latte-art-3 {
          grid-column: 2 / span 1;
          grid-row: 7 / span 1;
        }
      }

      @include respond(media-lg) {
        // TODO name columns.
        grid-template-columns: repeat(4, 1fr);
        // Two main rows with two 'buffer' rows in the middle to
        // account for differing image heights.
        // TODO Name rows or ideally find a better solution.
        grid-template-rows: repeat(4, max-content);
        gap: 1.6rem;

        &__item {
          &-danish {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
          }

          &-latte-art-2 {
            grid-column: 2 / span 1;
            grid-row: 1 / span 3;
          }

          &-coffee-machine {
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
          }

          &-coffee-list {
            grid-column: 4 / span 1;
            grid-row: 1 / span 3;
          }

          &-sign {
            grid-column: 1 / span 1;
            grid-row: 3 / span 2;
          }

          &-latte-art-3 {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
          }

          &-latte-art {
            grid-column: 3 / span 1;
            grid-row: 2 / span 3;
          }

          &-breakfast {
            grid-column: 4 / span 1;
            grid-row: 4 / span 1;
          }
        }
      }
    }
  }
}
