.footer {
  * {
    color: $color-white;
  }
  background-color: $color-black;

  .logo-svg {
    height: 3.5rem;
    width: 3.5rem;

    filter: brightness(1000);

    @include respond(media-lg) {
      height: 7rem;
      width: 7rem;
    }
  }

  &__container {
    display: grid;

    @include respond(media-lg) {
      grid-auto-flow: column;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
    }

    grid-template-rows: repeat(3, auto) repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    .navlist {
      list-style-type: none;

      li a {
        text-decoration: none;
      }
    }

    .item--logo {
      grid-column: 1 / -1;
    }

    .item--heading {
      grid-column: 1 / -1;

      @include respond(media-lg) {
        grid-column: auto / span 1;
      }
    }

    .item--subheading {
      grid-column: 1 / -1;

      margin-bottom: 3rem;

      @include respond(media-lg) {
        grid-column: auto / span 1;

        margin-bottom: 0;
      }
    }

    .item--address {
      margin-bottom: 3rem;
      @include respond(media-lg) {
        // TODO Check.
        // It looks centered in the design, but nothing
        // else does. Very weird.
        display: flex;
        align-items: center;

        margin-bottom: 0;
      }
    }
    .item--business-hours {
      @include respond(media-lg) {
        margin-top: 5px;
      }
    }

    .item--legal {
      @include respond(media-lg) {
        grid-area: 2 / 4 / 3 / 5;
      }
    }
  }
  // TODO fix
  /*
  &__main-heading {
    @include respond(phone) {
      font-size: 2.4rem;
    }
  }
  */
}
