.header {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 75vh;
  min-height: 30rem;

  background-position: center;
  background-size: cover;

  @include respond(media-lg) {
    height: 65vh;
  }

  &__shop-button {
    position: absolute;
    bottom: 10%; // TODO: Exact position?
    left: 50%;

    transform: translateX(-50%);
  }
}

.header--home {
  @include bgImageWithOverlay("/img/FEND-Coffee-latte-art-3.jpg");
}

.header--cafe {
  @include bgImageWithOverlay("/img/FEND-Coffee-shop.jpg");
}
