.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 6.5%;

  // Gradient to slide up and down to toggle white and transparent backgrounds.
  background-image: linear-gradient(
    to bottom,
    $color-white 50%,
    transparent 50%
  );
  background-size: 100% 200%;
  background-position: bottom;

  // Gently transition between the transparent and solid navigation bar.
  transition: all 0.2s ease-out;

  @include respond(media-xxl) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .logo-svg {
    height: 3.5rem;
    width: 3.5rem;

    @include respond(media-xxl) {
      height: 5rem;
      width: 5rem;
    }
  }
}

// When the page is not scrolled, the navigation bar is transparent with
// white text.
.navigation--transparent {
  .menu-link {
    color: $color-white;

    // Set the color of the marker underline to white.
    &::after {
      background-color: $color-white;
    }
  }

  .logo-svg {
    filter: brightness(1000);
  }
}

// When the page is scrolled down, the navigation bar is white with black text.
.navigation--solid {
  background-position: top;

  .menu-link {
    color: $color-black;

    // Set the color of the marker underline to black
    &::after {
      background-color: $color-black;
    }
  }

  .nav__logo {
    filter: brightness(0);
  }

  .burger-menu-svg {
    filter: brightness(0);
  }
}

// Navigation typography styles

.menu-link {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;

  @include respond(media-xxl) {
    font-size: 2.4rem;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
  }

  &:hover {
    &::after {
      width: 100%;
      animation-name: growFromLeft;
      animation-duration: 0.3s;
    }
  }

  &:active {
    &::after {
      width: 100%;
    }
  }
}

.active {
  .menu-link {
    // The active page is underlined.
    &::after {
      width: 100%;
    }

    // Disable hover animation on active page.
    &:hover {
      &::after {
        animation-name: none;
      }
    }
  }
}

.menu-button {
  border: none;

  background-color: transparent;
}

.mobile-menu-button {
  width: 3rem;

  @include respond(media-md) {
    display: none;
  }
}

.nav__container {
  max-width: 90%;
  display: none;
  @include respond(media-md) {
    display: block;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  row-gap: 1rem;
  list-style-type: none;

  .menu-item {
    &:not(:last-child) {
      margin-right: 6.6rem;
    }
  }
}

// Styles for the mobile menu overlay
.mobile-menu-open {
  .nav__container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    max-width: 100%;
    height: 100vh;

    background-color: $color-black;

    animation-name: slideFromRightSide;
    animation-duration: 300ms;
    animation-timing-function: ease-out;

    .menu-link {
      @include headingGeneralStyle;
      font-size: $h3-mobile-font-size;
      color: $color-white;
    }
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .close-menu-button {
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: $padding-media-sm-horizontal;
  }
}
