.button {
  display: flex;
  align-items: center;

  border-radius: 5px;
  width: fit-content;
  padding: 15px 50px;

  text-decoration: none;

  transition: background-color 0.2s ease-out;

  &:hover {
    box-shadow: 2px 2px 3px rgba($color-black, 0.25);
  }
}

.button--dark {
  border: 2px solid $color-anthrazit;

  background-color: $color-anthrazit;

  color: $color-white;

  &:hover {
    border-width: 2px; // TODO should be 1px, but that pushes everything around

    background-color: $color-anthrazit-light;
  }

  &:active {
    border-width: 2px; // TODO should be 1px, but that pushes everything around

    background-color: $color-kraftpapier;
  }
}

.button--light-border {
  border: 3px solid $color-white;

  background-size: 200% 100%;
  background-position: right;
  // Move this to :hover styles to have the animation only when starting to hover.
  background-image: linear-gradient(
    to right,
    $color-black 50%,
    transparent 50%
  );

  transition: background-color 0.2s ease-out, background-position 0.2s ease-out;

  &:hover {
    background-position: left;
  }

  &:active {
    background-image: none;
    background-color: $color-kraftpapier;
  }
}
