.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;

  &__elem {
    position: absolute;
    top: 0;
    left: 100vw;

    display: inline-block;

    width: 100%;
  }

  &__button {
    border: none;

    background-color: transparent;

    font-size: 10rem;
    text-decoration: none;

    &--active {
      cursor: pointer;

      opacity: 50%;
      transition: opacity 300ms ease-out;
      &:hover {
        opacity: 80%;
      }

      &:active {
        opacity: 100%;
      }
    }

    &--inactive {
      opacity: 20%;
    }

    @include respond(media-xl) {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);

      &--left {
        left: -7rem;
      }

      &--right {
        right: -7rem;
      }
    }
  }

  .tab-dots {
    display: flex;
    column-gap: 5px;

    .tab-dot {
      width: 15px;
      height: 15px;

      cursor: pointer;

      background-color: $color-anthracite-light;
      border-radius: 50%;

      transition: background-color 300ms ease-out;

      &--active {
        background-color: $color-medium-grey;
      }
    }
  }

  .active {
    position: initial;

    &--from-right {
      animation-name: slideFromRight;
      animation-duration: 600ms;
      animation-timing-function: ease-out;
    }

    &--from-left {
      animation-name: slideFromLeft;
      animation-duration: 600ms;
      animation-timing-function: ease-out;
    }
  }

  .left {
    left: 0;
    transform: translateX(-100vw);

    animation-name: slideToLeft;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
  }

  .right {
    left: 0;
    transform: translateX(100vw);

    animation-name: slideToRight;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
  }
}
