.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 50px;
  border-radius: 5px;

  &:hover {
    box-shadow: 2px 2px 3px rgba($color-black, 0.25);
  }
}

.button--dark {
  background-color: $color-anthrazit;
  border: 2px solid $color-anthrazit;
  color: $color-white;

  &:hover {
    background-color: $color-anthrazit-light;
    border-width: 2px; // TODO should be 1px, but that pushes everything around
  }

  &:active {
    background-color: $color-kraftpapier;
    border-width: 2px; // TODO should be 1px, but that pushes everything around
  }
}

.button--light-border {
  background-color: $color-anthrazit-light;
  border: 3px solid $color-white;

  &:active {
    background-color: $color-white;
    color: $color-black;
  }
}
