.button {
  display: flex;
  flex-direction: column;
  justify-items: center;

  border-radius: 5px;
  width: fit-content;
  padding: 15px 50px;

  text-decoration: none;

  &:hover {
    box-shadow: 2px 2px 3px rgba($color-black, 0.25);
  }
}

.button--dark {
  border: 2px solid $color-anthrazit;

  background-color: $color-anthrazit;

  color: $color-white;

  &:hover {
    border-width: 2px; // TODO should be 1px, but that pushes everything around

    background-color: $color-anthrazit-light;
  }

  &:active {
    border-width: 2px; // TODO should be 1px, but that pushes everything around

    background-color: $color-kraftpapier;
  }
}

.button--light-border {
  border: 3px solid $color-white;

  background-color: $color-anthrazit;

  @include respond(desktop) {
    background-color: $color-anthrazit-light;
  }

  &:active {
    background-color: $color-white;

    color: $color-black;
  }
}
