// Default typography styles
* {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;

  @include respond(tablet-port) {
    font-size: 1.6rem;
  }

  @include respond(desktop) {
    font-size: 1.8rem;
  }
}

// Heading typography styles

// A variable is used because the menu items in the mobile
// menu should have the same style as an h3 heading despite
// not being h3s.
$h3-mobile-font-size: 3.2rem;

h1,
h2,
h3 {
  @include headingGeneralStyle;
}

h1 {
  font-size: 6.4rem;

  @include respond(tablet-port) {
    font-size: 7.4rem;
  }

  @include respond(tablet-land) {
    font-size: 8.2rem;
  }

  @include respond(desktop) {
    font-size: 9.6rem;
  }
}

h2 {
  font-size: 3.6rem;

  @include respond(tablet-port) {
    font-size: 4rem;
  }

  @include respond(tablet-land) {
    font-size: 4.4rem;
  }

  @include respond(desktop) {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: $h3-mobile-font-size;

  @include respond(tablet-port) {
    font-size: 3.6rem;
  }

  @include respond(tablet-land) {
    font-size: 4rem;
  }

  @include respond(desktop) {
    font-size: 4.2rem;
  }
}

.subhead-m {
  font-size: 1.8rem;
}

.site-heading--primary {
  color: $color-white;
}

.site-heading--secondary {
  color: $color-white;
}
