.u-padding--section {
  padding: $padding-mobile-vertical $padding-mobile-horizontal;
  @media (min-width: 600px) {
    padding: $padding-desktop-vertical $padding-desktop-horizontal;
  }
}

.u-hidden {
  display: none;
}

.u-disable-scroll {
  overflow-y: hidden;
  height: 100%;
}
