<!DOCTYPE html>
<html lang="de">
  <%- include("head", {title: "das Café | Rustica Kaffeerösterei"}) %>
  <body>
    <header class="header header--cafe"><%- include ("nav.ejs") %></header>
    <main class="main">
      <div class="gallery u-padding--section">
        <div class="gallery__container">
          <div class="gallery__item-1 gallery__item">
            <img
              src="../img/FEND-danish 1.jpg"
              alt=""
              class="gallery__img-1 gallery__img"
            />
          </div>
          <div class="gallery__item-2 gallery__item">
            <img
              src="../img/FEND-Coffee-latte-art-2.jpg"
              alt=""
              class="gallery__img-2 gallery__img"
            />
          </div>
          <div class="gallery__item-3 gallery__item">
            <img
              src="../img/FEND-coffee-machine.jpg"
              alt=""
              class="gallery__img-3 gallery__img"
            />
          </div>
          <div class="gallery__item-4 gallery__item">
            <img
              src="../img/FEND-coffee-list.jpg"
              alt=""
              class="gallery__img-4 gallery__img"
            />
          </div>
          <div class="gallery__item-5 gallery__item">
            <img
              src="../img/FEND-Coffee-sign.jpg"
              alt=""
              class="gallery__img-5 gallery__img"
            />
          </div>
          <div class="gallery__item-6 gallery__item">
            <img
              src="../img/FEND-Coffee-latte-art-3.jpg"
              alt=""
              class="gallery__img-6 gallery__img"
            />
          </div>
          <div class="gallery__item-7 gallery__item">
            <img
              src="../img/FEND-Coffee-latte-art.jpg"
              alt=""
              class="gallery__img-7 gallery__img"
            />
          </div>
          <div class="gallery__item-8 gallery__item">
            <img
              src="../img/FEND-coffee-breakfast 1.jpg"
              alt=""
              class="gallery__img-8 gallery__img"
            />
          </div>
        </div>
      </div>
    </main>
    <%- include ("footer.ejs") %>
    <script src="../js/index.js"></script>
  </body>
</html>
