<!DOCTYPE html>
<html lang="de">
  <%- include("./partials/head", {title: "Impressum | Rustica Kaffeerösterei"})
  %>
  <body>
    <%- include("./partials/navigation", {activePage: "impressum"}) %>
    <section class="text"><p>Text</p></section>

    <%- include("./partials/footer") %>
    <script src="../js/index.js"></script>
  </body>
</html>
