<!DOCTYPE html>
<html lang="de">
  <%- include("./partials/head", {title: "Herkunft | Rustica Kaffeerösterei"})
  %>
  <body>
    <header class="header header--origins">
      <%- include("./partials/navigation", {activePage: "origins"}) %>
    </header>
    <section class="text"><p>Text</p></section>
    <div class="video-container">
      <video class="video origins__video" id="video-origins">
        <source src="../img/close-up-of-dark-roasted.webm" type="video/webm" />
        <source src="../img/close-up-of-dark-roasted.mp4" type="video/mp4" />
        Das Video kann nicht angezeigt werden.
      </video>
      <div class="play-button-container">
        <button class="play-button paused" id="play-button-origins"></button>
      </div>
    </div>

    <%- include("./partials/footer") %>
    <script src="../js/index.js"></script>
    <script src="../js/simple-video.js"></script>
  </body>
</html>
