<!DOCTYPE html>
<html lang="de">
  <%- include("./partials/head", {title: "Herkunft | Rustica Kaffeerösterei"})
  %>
  <body>
    <header class="header header--origins">
      <%- include("./partials/navigation", {activePage: "origins"}) %>
    </header>
    <main class="origins">
      <div class="origins__overview">
        <h2>Der Ursprung von Rustica</h2>
        <p>
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
          Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in
          Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
          Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt
          sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in
          dem einem gebratene Satzteile in den Mund fliegen.Nicht einmal von der
          allmächtigen Interpunktion werden die Blindtexte beherrscht – ein
          geradezu unorthographisches Leben.
        </p>
      </div>

      <div class="origins__video">
        <!-- prettier-ignore -->
        <%- include ("./partials/simple-video.ejs", { 
        video: {
          id: "origins",
          sources: [ 
            {path: "../img/close-up-of-dark-roasted.webm", type: "video/webm"}, 
            {path: "../img/close-up-of-dark-roasted.mp4", type:"video/mp4"}
          ]
        }
      }) %>
      </div>

      <div class="origins__text">
        <h3>Huhuhuhu</h3>
      </div>
    </main>
    <footer class="footer"><%- include("./partials/footer") %></footer>
    <script src="../js/index.js"></script>
    <script src="../js/simple-video.js"></script>
  </body>
</html>
