<!DOCTYPE html>
<html lang="de">
  <%- include("./partials/head", {title: "Herkunft | Rustica Kaffeerösterei"})
  %>
  <body>
    <header class="header header--origins">
      <%- include("./partials/navigation", {activePage: "origins"}) %>
    </header>
    <main class="origins">
      <section class="text"><p>Text</p></section>

      <!-- prettier-ignore -->
      <%- include ("./partials/simple-video.ejs", { 
        video: {
          id: "origins",
          sources: [ 
            {path: "../img/close-up-of-dark-roasted.webm", type: "video/webm"}, 
            {path: "../img/close-up-of-dark-roasted.mp4", type:"video/mp4"}
          ]
        }
      }) %>
    </main>
    <%- include("./partials/footer") %>
    <script src="../js/index.js"></script>
    <script src="../js/simple-video.js"></script>
  </body>
</html>
