.contact {
  @include sectionPadding;
  display: flex;
  flex-direction: column;

  @include respond(media-md) {
    flex-direction: row;
    justify-content: center;

    h2,
    form {
      width: 50%;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .required:invalid {
      background-color: rgba(red, 0.3);

      &::placeholder {
        opacity: 1;
        color: red;
      }
    }

    label,
    input[type="submit"],
    .privacy-checkbox {
      margin-top: 4rem;
    }

    .privacy-checkbox {
      display: flex;
      align-items: center;
      column-gap: 1rem;

      * {
        margin-top: 0;
      }
    }

    hr {
      margin-top: 1rem;
      border-top: solid 3px $color-anthracite;
    }

    select {
      appearance: none;
      border: none;

      &:focus {
        background-color: green;
      }

      option {
        color: beige;
        outline: none;
        &:hover {
          background: none;
          outline: none;
        }
      }
    }

    textarea,
    input[type="text"] {
      margin-left: auto;
      margin-right: auto;
      border: none;
      width: 100%;

      &::placeholder {
        padding-left: 2rem;

        @include respond(media-lg) {
          padding-left: 3rem;
        }
      }
    }

    input[type="text"] {
      margin-top: 1.5rem;
    }

    textarea {
      margin-top: 4.5rem;
    }

    .button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
