.about {
  * {
    color: $color-black;
  }
  &__row {
    display: flex;
    column-gap: 1rem; // TODO: Fallback? Not supported for flex layout in IE, Safari and some mobile browsers
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 4rem;
      @media (min-width: 600px) {
        margin-bottom: 13rem;
      }
    }

    @media (min-width: 600px) {
      flex-direction: row;
    }

    &--pic-left {
      @media (min-width: 600px) {
        flex-direction: row-reverse;
        .about__cell--text {
          padding-left: 10rem;
          padding-top: 5rem;
        }
      }
    }

    &--pic-right {
    }
  }

  &__cell {
    width: 100%;
    @media (min-width: 600px) {
      width: 50%;
    }

    img {
      width: 100%;
    }

    &--text {
      margin-bottom: 4rem;
      @media (min-width: 600px) {
        margin-bottom: 0;
      }
    }
  }

  &__subrow {
    display: flex;
  }

  &__subcell {
    width: 50%;
    &:not(:first-child) {
      margin-left: 0.8rem;
    }

    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  &__heading--secondary {
    margin-bottom: 2rem;
    @media (min-width: 600px) {
      margin-bottom: 3.5rem;
    }
  }

  &__heading--tertiary {
    margin-bottom: 1.2rem;
    @media (min-width: 600px) {
      margin-bottom: 2.4rem;
    }
  }

  &__text {
    @media (min-width: 600px) {
      width: 75%;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
