// The space between the selection elements.
$vertical-space: 4rem;

// TODO At screen width 600px, we still seem to have 3 elements in a row.

.selection {
  * {
    color: $color-white;
  }

  > *:not(:last-child) {
    margin-bottom: 8rem;
  }
  // TODO Should it really change color on mobile?
  background-color: $color-anthrazit;

  @media (min-width: 601px) {
    background-color: $color-anthrazit-light;
  }

  &__group-of-four {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    // Offset the top margin of the individual elements.
    margin-top: -$vertical-space;
  }

  // TODO: Google if you can apply space-between to grandchildren
  // TODO Probably obsolete
  //$coffee-elem-width: 30rem;
  //$gap-width: calc(100% - 4 * #{$coffee-elem-width}) / 3;

  // TODO Probably obsolete

  //&__group-of-two {
  //  display: flex;
  //  justify-content: space-between;
  //  width: calc(2 * #{$coffee-elem-width} + #{$gap-width});
  //}

  &__elem {
    margin-top: $vertical-space;
    width: 40vw;
    @media (min-width: 600px) {
      width: 20vw;
    }

    .coffee-text {
      div:not(:last-child) {
        margin-bottom: 0.8rem;
      }

      &__price-range {
        color: $color-medium-grey;
      }

      &__icon {
        margin-right: 1rem;
      }
    }

    .coffee-img {
      margin-bottom: 2rem;
      background-color: $color-light-grey;
      padding: 5%;

      img {
        width: 100%;
      }
    }
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
  }
}
