// The space between the selection elements.
$vertical-space: 4rem;

.selection {
  * {
    color: $color-white;
  }

  > *:not(:last-child) {
    margin-bottom: 8rem;
  }
  // TODO Should it really change color on mobile?
  background-color: $color-anthrazit;

  &__group-of-four {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // Offset the top margin of the individual elements.
    margin-top: -$vertical-space;
    width: 100%;
  }

  &__elem {
    margin-top: $vertical-space;
    width: 40vw;

    @include respond(desktop) {
      width: 20vw;
    }

    .coffee-text {
      div:not(:last-child) {
        margin-bottom: 0.8rem;
      }

      &__price-range {
        color: $color-medium-grey;
      }

      &__icon {
        margin-right: 1rem;
      }
    }

    .coffee-img {
      margin-bottom: 2rem;
      padding: 5%;

      background-color: $color-light-grey;

      img {
        width: 100%;
      }
    }
  }

  &__button {
    margin-right: auto;
    margin-left: auto;
  }
}
