<div
  class="cart-overlay"
  role="dialog"
  aria-label="Warenkorb"
  aria-modal="true"
  aria-hidden="true"
>
  <button
    aria-label="Warenkorb schließen"
    class="cart-button close-cart-button u-hidden"
    id="mobile-menu-close-button"
  >
    <img
      src="../img/icons/Burger Menu close.svg"
      alt="Warenkorb schließen"
      class="burger-menu-svg--close"
    />
  </button>
</div>
