<div
  class="overlay overlay--sliding cart cart-overlay"
  role="dialog"
  aria-label="Warenkorb"
  aria-modal="true"
  aria-hidden="true"
>
  <button
    aria-label="Warenkorb schließen"
    class="cart-button icon-button overlay-close-button close-cart-button u-hidden"
  >
    <img
      src="../img/icons/Burger Menu close.svg"
      alt="Warenkorb schließen"
      class="burger-menu-svg--close"
    />
  </button>
  <div class="cart__content">
    <h3>Warenkorb</h3>
    <p><span class="cart__product-count">0</span> Produkte</p>
    <p class="add-message"></p>
  </div>
</div>
