<nav class="navigation navigation--transparent" id="navigation">
  <div class="nav__logo">
    <a href="index.ejs"
      ><img src="../img/Logo.svg" alt="Logo" class="logo-svg"
    /></a>
  </div>
  <button
    aria-label="Menüknopf"
    class="menu-button mobile-menu-button"
    id="mobile-menu-button"
  >
    <img src="../img/Burger Menu.svg" alt="Menü" class="burger-menu-svg" />
  </button>
  <button
    aria-label="Menü schließen"
    class="menu-button close-menu-button u-hidden"
    id="mobile-menu-close-button"
  >
    <img
      src="../img/Burger Menu close.svg"
      alt="Menü schließen"
      class="burger-menu-svg--close"
    />
  </button>
  <div class="nav__container">
    <ul class="nav__list">
      <!-- prettier-ignore -->
      <% [ {name: "das Café", target: "cafe"}, 
           {name: "Herkunft", target: "origins"},
           {name: "Shop", target: "shop"},
           {name: "das Café", target: "cafe"}, 
           {name: "Herkunft", target: "origins"},
           {name: "das Café", target: "cafe"}, 
           {name: "Herkunft", target: "origins"},
           {name: "Shop", target: "shop"}].forEach(function(item){ %>
      <li
        class="menu-item <%if (locals.activePage == item.target ) { %>active<% } %>"
      >
        <a href="<%=`${item.target}.ejs`%>" class="menu-link"
          ><%= item.name %></a
        >
      </li>
      <% }); %>
    </ul>
  </div>
</nav>
