<div class="slider">
    <% for (let i = 0; i < locals.products.length/4; i++) { %>
      <div class="slider__elem <%= i ? "": "active" %>">
          <%- include("./products.ejs", {currProducts:
          locals.products.slice(4*i,4*(i+1))}) %>
      </div>
    <% } %>
    <div class="tab-dots">
    <% for (let i = 0; i < locals.products.length/4; i++) { %>
      <div class="tab-dot <%= i ? "" : "tab-dot--active" %>"></div>
    <% } %>
    </div>
    <div class="slider__buttons">
      <button class="slider__button slider__button--inactive slider__button--left" tabindex="-1">&lsaquo;</button>
      <button class="slider__button slider__button--active slider__button--right">&rsaquo;</button></div>
    </div>