@import "abstracts/animations";
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/typography";
@import "base/utilities";

@import "layout/footer";
@import "layout/header";
@import "layout/navigation";

@import "components/button";
@import "components/gallery";

@import "pages/about";
@import "pages/contents";
@import "pages/origins";
@import "pages/map";
@import "pages/selection";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

section {
  @include sectionPadding;
}
