// COLORS
$color-white: #ffffff;
$color-anthrazit: #1a1a1a;
$color-anthrazit-light: #3a3734;
$color-medium-grey: #737373;
$color-light-grey: #e9e9e9;
$color-kraftpapier: #d7be9d;
$color-petrol: #006d7e;
$color-rosa: #edd1c9;
$color-orange: #d77c12;
$color-black: #000000;

// DIMENSIONS
$padding-media-sm-horizontal: 2.4rem;
$padding-media-sm-vertical: 6rem;

$padding-media-md-horizontal: 4rem;
$padding-media-md-vertical: 8rem;

$padding-media-lg-horizontal: 8rem;
$padding-media-lg-vertical: 10rem;

$padding-media-xl-horizontal: 10rem;
$padding-media-xl-vertical: 12.5rem;

// VISUAL ELEMENTS
$bg-overlay-dark: linear-gradient(
  to right,
  rgba($color-anthrazit, 0.3),
  rgba($color-anthrazit, 0.3)
);
